/*------------------------------------------------------------------------*/
/*----------------------------------layout--------------------------------*/
/*------------------------------------------------------------------------*/
html{ 
	margin: 0; border-width: 0; padding: 0; border-style: none;
	border-radius: 0; width: 100%; height: 100%; overflow: hidden;
}
body { 
    margin: 0; border-width: 0; padding: 0; border-style: none; border-radius: 0; 
    overflow: hidden; touch-action: pinch-zoom; touch-action: manipulation;
	position: absolute; top: 50%; left: 50%;
	-ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
	display: grid; grid-gap: 0%; grid-template-columns: 100%; 
	grid-template-rows: 30% 0% 0% 25% 45%;
	width: 100%; height: 100%; max-width: 12cm; min-width: 6cm;
	max-height: 24cm; min-height: 12cm;
}
div { 
    margin: 0; border-width: 0; padding: 0; border-style: none;
	border-radius: 0; overflow: hidden; display: grid; grid-gap: 0%;
	touch-action: pinch-zoom; touch-action: manipulation;
	width: 100%; height: 100%; grid-row: span 1; grid-column: span 1;
}
.inputs {
	display: grid; grid-gap: 0%;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 50% 30% 20%;
}
input, p { 
    margin: 0; border-width: 0; padding: 0; border-style: none;
	border-radius: 0; overflow: hidden; display: grid; grid-gap: 0%;
	touch-action: pinch-zoom; touch-action: manipulation;
	width: 100%; height: 100%; grid-row: span 1; grid-column: span 5;
}
.scis, .personals {
	display: grid; grid-gap: 0%;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 33.33% 33.33% 33.33%;
}
.nums {
	display: grid; grid-gap: 0%;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 25% 25% 25% 25%;
}
.categories {
	display: grid; grid-gap: 0%;
	grid-template-columns: 33.33% 33.33% 33.33%;
	grid-template-rows: 33.33% 33.33% 33.33%;
}
button {
    margin: 0; border-width: 0; padding: 0; border-style: none;
	border-radius: 0; overflow: hidden; display: grid; grid-gap: 0%;
	touch-action: pinch-zoom; touch-action: manipulation;
	width: 100%; height: 100%; grid-row: span 1; grid-column: span 1;
}
.visuallyhidden {
  border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px;
  overflow: hidden; padding: 0; position: absolute; width: 1px;
}

/*------------------------------------------------------------------------*/
/*----------------------------------color---------------------------------*/
/*------------------------------------------------------------------------*/

:focus { outline: none !important; }

/* default theme */
@media (prefers-color-scheme: no-preference), (prefers-color-scheme: light) {
	html {
		background-color: #c1d5e0;		
	}
	.inputs, input, p, .panel {
		background-color: #78909c; 
		color: #000000; 
	}
	.scis, .sci, .personals, .personal { 
		background-color: #90a4ae;
		color: #222222; 
	}
	.nums, .num, .opr, .io, .categories, .category { 
		background-color: #b0bec5; 
		color: #333333;
	}
	.panel:active {
		background-color: #8eacbb;
	}
	.sci:active, .personal:active {
		background-color: #a7c0cd;
	}
	.num:active, .opr:active, .io:active, .category:active {
		background-color: #c1d5e0;
	}
	@media (hover: hover) {
		.panel:hover {
			background-color: #8eacbb;
		}
		.sci:hover, .persona:hover {
			background-color: #a7c0cd;
		}
		.num:hover, .opr:hover, .io:hover, .category:hover {
			background-color: #c1d5e0;
		}
	}
}

/* dark theme */
@media (prefers-color-scheme: dark) {
	html {
		background-color: #37474f;		
	}
    .inputs, input, p, .panel {
    	background-color: #000a12; 
    	color: #e2f1f8; 
	}
	.scis, .sci, .personals, .personal { 
    	background-color: #101a20;
    	color: #e2f1f8; 
	}
	.nums, .num, .opr, .io, .categories, .category {
    	background-color: #102027;
    	color: #e2f1f8;
	}
	.panel:active {
		background-color: #263238;
	}
	.sci:active, .personal:active {
		background-color: #263238;
	}
	.num:active, .opr:active, .io:active, .category:active {
		background-color: #263238;
	}
	@media (hover: hover) {
		.panel:hover {
			background-color: #263238;
		}
		.sci:hover, .personal:hover {
			background-color: #263238;
		}
		.num:hover, .opr:hover, .io:hover, .category:hover {
			background-color: #263238;
		}
	}
}
/*------------------------------------------------------------------------*/
/*----------------------------------fonts---------------------------------*/
/*------------------------------------------------------------------------*/
input, p, button {
	font-family: system-ui;
	text-align:center;
}
button {
	user-select: none;
}
#ip {
    font-size: 3.5em;
}
#op {
	font-size: 2.5em;
}
.panel{
	font-size: 1em;
}
.sci {
	font-size: 1.25em;
	font-weight: normal;
}
.personal {
	font-size: 1em;
	font-weight: normal;
}
.num {
	font-size: 2em;
	font-weight: normal;
}
.opr {
	font-size: 2.5em;
	font-weight: normal;
}
#bspc {
	font-size: 1.75em;
}
#ANS {
	font-size: 1.3em;
	font-weight: 500;
}
#CE {
	font-size: 2em;
}
#comma, #decimal {
	font-size: 2.5em;
	padding-bottom: 0.6em;
}
.category {
	font-size: 4em;
}