:root {
	--searchbar-default: 30vh;
	--searchbar-input: 1vh;
	--background-color-searchbar: rgba(255, 255, 255, 1);
	--background-color-results: rgba(255, 255, 255, 0.80);
	--border-color: #999999;
}
html, body, div, input, span {
	margin: 0;
	padding: 0;
	border-style: none;
	font-family: system-ui;
}
html {
	width: 100%;
	height: 100%;
	background-image: url('./images/background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
@media (min-width: 15cm) {
	:root {
		--radius-input: 0.75cm;
		--font-size-input: 1cm;
	}
}
@media (max-width: 15cm) {
	:root {
		--radius-input: 6vw;
		--font-size-input: 8vw;
	}
}
body {
	width: 100%;
	max-width: 20cm;
	margin: auto;
	margin-top: var(--searchbar-default);
	height: auto;
	border-radius: var(--radius-input);
	transition-property: margin-top;
	transition-duration: 500ms;
}
#searchbar {
	height: calc(2 * var(--radius-input));
	border-radius: var(--radius-input);
	display: grid;
	grid-template-columns: var(--radius-input) auto var(--radius-input);
	grid-template-rows: 100%;
	background-color: var(--background-color-searchbar);
	border-style: none;
}
#linkbar {
	width: 95%;
	margin: auto;
	height: auto;
	padding: 0.25cm;
	text-align: center;
}
input {
	grid-row: span 1;
	grid-column: span 1;
	width: 100%;
	height: 100%;
	margin: auto;
	text-align: center;
	font-size: var(--font-size-input);
	border-radius: 0;
	background-color: var(--background-color);
}
span {
	grid-row: span 1;
	grid-column: span 1;
	width: 100%;
	height: 100%;	
}
.results {
	width: 100%;
	height: auto;
	background-color: var(--background-color-results);
	border-radius: var(--radius-input);
}
.episode {
}
h1 {
	text-align: center;
	margin: 0.5rem;
	font-size: 0.7cm;
}
h4 {
	text-align: center;
	margin: 0.5rem;
	font-size: 0.4cm;
}
p {
	text-align: justify;
	margin: 0.5rem 1rem 0.5rem 1rem;
}
a, a:active, a:hover, a:visited {
	text-decoration: none;
}
.linkout {
	color: white;
}
iframe {
	width: 96vw;
	height: 54vw;
	max-width: 19.2cm;
	max-height: 10.8cm;
	text-align: center;
	margin: 2%;
}
img {
	width: 96%;
	height: auto;
	text-align: center;
	margin: 2%;	
}
:focus {
	outline: none!important; 
}
#twitter-timeline {
	max-width: 15cm;
}