:root {
	--searchbar-default: 40vh;
	--searchbar-input: 5vh;
	--background-color-searchbar: rgba(255, 255, 255, 1);
	--background-color-body: rgba(255, 255, 255, 0.80);
	--border-color: #999999;
}
html, body, div, input, span {
	margin: 0;
	padding: 0;
	border-style: none;
	font-family: system-ui;
}
html {
	width: 100%;
	height: 100%;
	background-image: url('./images/background-04.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
@media (min-width: 15cm) {
	:root {
		--radius-input: 0.75cm;
		--font-size-input: 1cm;
	}
}
@media (max-width: 15cm) {
	:root {
		--radius-input: 6vw;
		--font-size-input: 8vw;
	}
}
body {
	width: 100%;
	max-width: 20cm;
	margin: auto;
	height: auto;
	background-color: var(--background-color-body);
	border-radius: var(--radius-input);
}
#searchbar {
	height: calc(2 * var(--radius-input));
	border-radius: var(--radius-input);
	margin-top: var(--searchbar-default);
	display: grid;
	grid-template-columns: var(--radius-input) auto var(--radius-input);
	grid-template-rows: 100%;
	transition-property: margin-top;
	transition-duration: 500ms;
	background-color: var(--background-color-searchbar);
	border-width: 2px;
	border-style: solid;
	border-color: var(--border-color);
}
#linkbar {
	width: 95%;
	margin: auto;
	height: auto;
	padding: 0.25cm;
	text-align: center;
}
input {
	grid-row: span 1;
	grid-column: span 1;
	width: 100%;
	height: 100%;
	margin: auto;
	text-align: center;
	font-size: var(--font-size-input);
	border-radius: 0;
	background-color: var(--background-color);
}
span {
	grid-row: span 1;
	grid-column: span 1;
	width: 100%;
	height: 100%;	
}
.results {
	width: 100%;
	height: auto;
}
.episode {
}
h1 {
	text-align: center;
	margin: 0.1rem;
	font-size: 0.7cm;
}
h4 {
	text-align: center;
	margin: 0.1rem;
	font-size: 0.4cm;
}
p {
	text-align: justify;
	padding: 1rem;
	margin: 0;
}
a, a:active, a:hover, a:visited {
	text-decoration: none;
}
img {
	width: 96%;
	text-align: center;
	height: auto;
	margin: 2% 2% 0 2%;
}
:focus {
	outline: none!important; 
}
#twitter-timeline {
	max-width: 15cm;
}