:root {
	--lightest: #ffffff;
	--lighter: #c1d5e0;
	--light: #b0bec5;
	--medium: #90a4ae;
	--dark: #102027;
	--darker: #78909c;
}
:root {
	--height-topbar: 1.5cm;
	--height-button: 1.5cm;
}
@media (min-width: 20cm) {
	.topbar {
		grid-template-columns: 0 var(--height-topbar) auto 0 0;
	}
	.icon-menu {
		visibility:hidden;
	}
	.screenshots, .app-screenshot, .app-screenshots {
		border-radius: 1vw;
	}
	.wrapper, .app {
		grid-template-columns: 50% 50%;
		grid-template-rows: 100%;
		border-radius: 1vw;
	}
	.screenshot {
		border-radius: 1vw 0 0 1vw;
	}
	.description, .app-text h2, .icon-wrapper {
		text-align: left;
	}
	.narrow {
		display: none;
		visibility: hidden;
	}
}
@media (max-width: 20cm) {
	.topbar {
		grid-template-columns: calc(50% - calc(var(--height-topbar) * 0.5)) var(--height-topbar) 0 calc(50% - calc(var(--height-topbar) * 1.5)) var(--height-topbar);
	}
	.topbar-text {
		visibility:hidden;
	}
	.screenshots, .app-screenshot, .app-screenshots {
		border-radius: 2vw;
	}
	.wrapper, .app {
		grid-template-columns: 100%;
		grid-template-rows: auto auto;
		border-radius: 2vw;
	}
	.screenshot {
		border-radius: 2vw 2vw 0 0;
	}
	.description, .app-text h2, .icon-wrapper {
		text-align: center;
	}
	.wide {
		display: none;
		visibility: hidden;
	}
}
@media (hover: hover) {
	.scroll-button-left:hover, .scroll-button-right:hover, .app-scroll-button-left:hover, .app-scroll-button-right:hover {
		filter: opacity(1);
	}
	.topbar-text a:hover, .dropdown a:hover {
		text-decoration: none;
		color: white;
	}
}
html, body, div, a, img, svg, h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
	border-width: 0;
	border-style: none;
	scroll-behavior: smooth;
	touch-action: manipulation; 
}
.screenshots::-webkit-scrollbar, .app-screenshots::-webkit-scrollbar {
	display: none;
}
html, body {
	height: auto;
	width: 100%;
	background-color: var(--lighter);
	overflow-x: hidden;
	font-family: system-ui;
}
.topbar {
	width: 100%;
	height: var(--height-topbar);
	background-color: var(--dark);
	color: var(--lightest);
	display: grid;
	grid-template-rows: 100%;
	position: fixed;
	z-index: 100;
}
.topbar-icon {
	grid-row: span 1;
	grid-column: span 1;
	width: 100%;
	height: 100%;
}
.topbar-icon img {
	margin: 15%;
	height: 70%;
	width: auto;
}
.topbar-text {
	grid-row: span 1;
	grid-column: span 1;
	width: 100%;
	margin: auto;
	text-align: right;
	font-size: calc(var(--height-topbar) / 2.8);
	font-weight: 400;
}
.topbar-text a, .topbar-text a:visited, .topbar-text a:active, .dropdown a, .dropdown a:visited, .dropdown a:active {
	text-decoration: none;
	color: white;
}
.padding {
	width: 100%;
	height: var(--height-topbar);
}
.dropdown {
	position: fixed;
	width: 100%;
	height: auto;
	background-color: var(--dark);
	color: var(--lightest);
	margin-top: var(--height-topbar);
	z-index: 100;
	visibility: hidden;
	display: none;
}
.dropdown div {
	text-align: center;
	margin: auto;
	padding: calc(var(--height-topbar) / 2.8);
	border-top-style: dashed;
	border-color: var(--lightest);
	border-top-width: 1px;
}
.dropdown a {
	font-size: calc(var(--height-topbar) / 2.8);
}
.gallery {
	width: 98%;
	margin: auto;
	height: auto;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: var(--height-button) calc(100% - calc(2 * var(--height-button))) var(--height-button);
}
.scroll-button-left, .scroll-button-right {
	grid-row: span 1;
	grid-column: span 1;
	width: 100%;
	height: auto;
	filter: opacity(0.3);
	margin: auto;
	z-index: 2;
}
.scroll-button-left:active, .scroll-button-right:active {
	filter: opacity(1);
	width: 90%;
}
.scroll-button-left img, .scroll-button-right img {
	width: 90%;
	height: auto;
	margin: 5%;
}
.screenshots {
	grid-row: span 1;
	grid-column: span 1;
	height: auto;
	width: calc(100% + calc(2 * var(--height-button)));
	margin: auto var(--height-button) auto calc(-1 * var(--height-button));
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	scroll-width: none;
	scrollbar-width: none;
}
.wrapper {
	width: 100%;
	height: auto;
	display: inline-grid;
	scroll-snap-align: start;
	scroll-behavior: smooth;
	background-color: var(--medium);
}
.screenshot {
	grid-row: span 1;
	grid-column: span 1;
	width: 100%;
	height: auto;
}
.description {
	grid-row: span 1;
	grid-column: span 1;
	width: 90%;
	height: auto;
	margin: auto;
	white-space: normal;
	color: var(--dark);
}
.description button {
	width: auto;
	height: auto;
	margin-left: 0%;
	border-style: none;
	background-color: var(--dark);
	color: var(--lightest);
}
.app {
	width: 98%;
	height: auto;
	display: grid;
	margin: auto;
}
.app-text {
	grid-row: span 1;
	grid-column: span 1;
	height: auto;
	width: auto;
	max-width: 95%;
	margin: auto;
}
.app-text h2, .app-text p, .app-text li {
	color: var(--dark);
}
.app-gallery {
	grid-row: span 1;
	grid-column: span 1;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: var(--height-button) calc(100% - calc(2 * var(--height-button))) var(--height-button);
}
.app-scroll-button-left, .app-scroll-button-right {
	grid-row: span 1;
	grid-column: span 1;
	width: 100%;
	height: auto;
	filter: opacity(0.3);
	z-index: 2;
	margin: auto 0;
}
.app-scroll-button-left:active, .app-scroll-button-right:active {
	filter: opacity(1);
	width: 90%;
}
.app-scroll-button-left img, .app-scroll-button-right img {
	width: 90%;
	height: auto;
	margin: 5%;
}
.app-screenshots {
	grid-row: span 1;
	grid-column: span 1;
	height: auto;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	display: inline-block;
	scroll-width: none;
	scrollbar-width: none;
	width: calc(100% + calc(2 * var(--height-button)));
	margin: auto var(--height-button) auto calc(-1 * var(--height-button));
}
.app-screenshot {
	width: 100%;
	height: auto;
	display: inline;
	scroll-snap-align: start;
	scroll-behavior: smooth;
}
.bottombar {
	text-align: center;
}
.bottombar a, .bottombar a:visited, .bottombar a:active, .bottombar a:hover {
	text-decoration: none;
	color: var(--dark);
}

/* Fonts */
.description h1 {
	font-size: 0.7cm;
	padding: 0.2cm 0;
}
.description p {
	font-size: 0.5cm;
	padding-bottom: 0.4cm;
}
.description button {
	font-size: 0.5cm;
	border-radius: 0.15cm;
	padding: 0.3cm;
}
.app-text h2 {
	font-size: 0.6cm;
	padding-bottom: 0.1cm;
}
.app-text p, .app-text li {
	font-size: 0.5cm;
	padding: 0.1cm;
	text-align: justify;
}
.app-text li {
	margin-left: 0.8cm;
}
.icon {
	height: 0.9cm;
	width: auto;
	padding: 0.5cm 0.25cm;
}
.bottombar {
	font-size: 0.4cm;
}