
@media (prefers-color-scheme: no-preference), (prefers-color-scheme: light) {
	html, body {
		background-color: #c1d5e0;
	}
	picture, a {
		color: #c1d5e0;
	}
	h1, h2, p {
		color: #102027;
	}
	.icon {
		filter: brightness(100%);
	}
	.icon:active {
	    filter: brightness(125%);
	}
	@media(hover:hover) {
		.icon:hover {
	        filter: brightness(125%);
		}
	}
}
@media (prefers-color-scheme: dark) {
	html, body {
		background-color: #102027;
	}
	picture, a {
		color: #102027;
	}
	h1, h2, p {
		color: #c1d5e0;
	}
	.icon, .lightimage {
		filter: brightness(70%);
	}
	.icon:active {
	    filter: brightness(100%);
	}
	@media(hover:hover) {
		.icon:hover {
	        filter: brightness(100%);
		}
	}
}
@media (min-width: 16cm) {
	:root {
		--icon-side: 1cm;
		--icon-padding: 0.88cm;
	}
	body {
		width: 14.4cm;
		margin: auto;
	}
	h1 {
		font-size: 0.8cm;
	}
	h2 {
		font-size: 0.6cm;
	}
	p {
		font-size: 0.6cm;
	}
}
@media (max-width: 16cm) {
	:root {
		--icon-side: 8vw;
		--icon-padding: 5vw;
	}
/*	html {
		scrollbar-width: none;
	}*/
	html::-webkit-scrollbar {
		width: 2px;
	}
	body {
		margin: 2%;
		width: 96%;
	}
	h1 {
		font-size: 7vw;
	}
	h2 {
		font-size: 5vw;
	}
	p {
		font-size: 5vw;
	}
}
html {
	margin: 0;
	border-width: 0;
	padding: 0;
	border-style: none;
	border-radius: 0;
	width: 100%;
	height: auto;
}
body { 
	border-width: 0;
	padding: 0;
	border-width: 0;
	border-style: none;
	border-radius: 0;
	height: auto;
}
h1 {
	width: auto; height: auto;
	font-family: system-ui;
	text-align: center;
	border-width: 0;
	border-style: none;
	border-radius: 0;
}
h2 {
	width: auto; height: auto;
	font-family: system-ui;
	text-align: left;
	border-width: 0;
	border-style: none;
	border-radius: 0;
}
p {
	width: auto; height: auto;
	font-family: system-ui;
	text-align: justify;
	padding: 0%;
	border-width: 0;
	border-style: none;
	border-radius: 0;
}
.icon {
    height: var(--icon-side);
    width: var(--icon-side);
    padding: 0 var(--icon-padding) var(--icon-padding) var(--icon-padding);
}
.screenshots {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}
.screenshot {
	width: 100%;
	height: auto;
	display: inline-block;
	scroll-snap-align: start;
	scroll-behavior: smooth;
}
.icon-wrapper {
	margin: 10% 30% 10% 30%;
}