
@media (prefers-color-scheme: no-preference), (prefers-color-scheme: light) {
	:root{
	--lighter: #c1d5e0;
	--light: #b0bec5;
	--medium: #90a4ae;
	--dark: #78909c;
	--text: #000000;
	}
	/*COLOR*/
	html {
		background-color: var(--lighter);
	}
	body {
		background-color: var(--medium);
	}
	.title, .list-title {
		background-color: var(--dark);
	}
	.apps {
		background-color: var(--medium);
	}
	.button {
		background-color: var(--dark);
	}
	.button:active {
		background-color: var(--lighter);
	}

	@media (hover: hover) {
		.button:hover {
			background-color: var(--lighter);
		}
	}
}
@media (prefers-color-scheme: dark) {
	:root{
	--lighter: #37474f;
	--light: #102027;
	--medium: #101a20;
	--dark: #000a12;
	--text: #e2f1f8;
	}
	/*COLOR*/
	html {
		background-color: var(--lighter);
	}
	body {
		background-color: var(--light);
	}
	.title, .list-title {
		background-color: var(--dark);
	}
	.apps {
		background-color: var(--light);
	}
	.button {
		background-color: var(--dark);
	}
	.button:active {
		background-color: var(--lighter);
	}

	@media (hover: hover) {
		.button:hover {
			background-color: var(--lighter);
		}
	}
}
@media (max-width: 20cm) {
	:root{
		--app-width: 100%;
		font-size: 2vw;
	}
}
@media (min-width: 20cm) {
	:root{
		--app-width: 20cm;
		font-size: 0.25cm;
	}
	body {
		position: absolute; 
		top: 50%; 
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}
@media (max-width: 12cm) {
	:root{
		--app-width: 100%;
		font-size: 2vw;
	}
}
@media (min-width: 12cm) {
	:root{
		--app-width: 12cm;
		font-size: 0.25cm;
	}
	body {
		position: absolute; 
		top: 50%; 
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

:root {
	--font-family: system-ui;
	--font-size-title: 3.5rem;
	--font-size-app-title: 3.5rem;
	--font-size-app-desc: 2.5rem;
}
#support {
    top: 10px; right: 10px;
    position: absolute;
	font-size: 1.5rem;
	border-style: solid;
	padding: 1%;
	border-radius: 1rem;
	border-color: var(--medium);
	background-color: var(--dark);
	color: var(--text);
	text-decoration: none;
}
#support:link, #support:visited, #support:hover, #support:focus, #support:active {
	text-decoration: none;
}
/*MISCELLANEOUS*/
html, body { 
	margin: 0;
	border-width: 0;
	padding: 0;
	border-style: none;
	border-radius: 0;
} /*common parameters*/
h1, p, .button {
	margin: auto;
	position:relative;
	padding: 0;
	border-style: none;
	border-radius: 0;
}
html, body, .apps, .button {
	touch-action: pinch-zoom;
	touch-action: manipulation; 
} /*touch actions*/
:focus { 
	outline: none !important; 
} /*focus outline*/

/*LAYOUT*/
html { 
	width: 100%;
	height: 100%;
}
/*LEVEL ZERO*/
body {
	width: var(--app-width); 
	height: 100%;
}
.visuallyhidden {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  margin: -1px;
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}
/*LEVEL ONE*/
.apps {
	width: 100%; 
	height: auto;
	padding: 0%;
}
/*FONT*/
h1 {
	width: auto; height: auto;
	font-family: var(--font-family);
	text-align: center;
	color: var(--text);
	padding: 5%;
}
.list-title {
	font-size: var(--font-size-title);
}
.app-title {
	font-size: var(--font-size-app-title);
}
p {
	width: auto; height: auto;
	padding: 0% 5% 5% 5%;
	font-family: var(--font-family);
	text-align: justify;
	font-size: var(--font-size-app-desc);
	color: var(--text);
}
.button {
	padding: 3% 9% 4% 9%;
	margin: 0% 5% 0% 5%;
	font-family: var(--font-family);
	text-align: auto;
	font-size: var(--font-size-app-desc);
	color: var(--text);
	border-radius: 1rem;
	text-decoration: none;
}