
/*theme*/
input, button { font-family: system-ui; }
input{ background-color: #6d4c41; color: #dddddd; }
.pref .num { background-color: #dddddd; color: #321911; }
.sci { background-color: #d3b8ae; color: #321911; }
.ip { font-size: 3em; }
.op { font-size: 2.5em; }
.pref { font-size: 1em; }
.sci { font-size: 1.5em; }
.num { font-size: 1.75em; }

.num:active, .pref:active { background-color: #eeeeee; }
.sci:active { background-color: #dddddd; }
/*size and structure*/
html {
	width: 100%; height: 100%;
	border-width: 0%; border-style: none;
	overflow: hidden; padding: 0%; 	
	display: grid;
	grid-template-columns: 100%; grid-template-rows: 100%;
	grid-gap: 0%;
}

body {
    width: 96%; 
	height: 98%; 
	border-width: 0%;
	padding: 0%;
	border-style: none;
	overflow: hidden;
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 12% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8%;
	grid-gap: 0%;
}

input, button {
	border-width: 0%;
	padding: 0%;
	border-style: none;
	text-align: center;
	align-self: center;
	grid-row: span 1;
	width: 100%;
	height: 100%;
}

input { grid-column: span 5; }
button { grid-column: span 1; }

/*shape*/

:focus { outline: none !important; }