

/*dark or white theme */
@media (prefers-color-scheme: light) {
    html, body, input, button { 
    	background-color: #dddddd; 
    	color: #222222; 
	}
	button:active {
		background-color: #bbbbbb;
	} 
}
@media (prefers-color-scheme: dark) {
    html, body, input, button { 
    	background-color: #222222; 
    	color: #dddddd; 
    }
    button:active {
		background-color: #444444;
	} 
}
@media (prefers-color-scheme: no-preference) {
    html, body, input, button { 
    	background-color: #0d47a1; 
    	color: #dddddd; 
    }
    button:active {
		background-color: #1976d2;
	} 
}
/* fonts */
input, button { 
    font-family: system-ui; 
    text-align: center;
}

@media (orientation: landscape) {
.ip { font-size: 4em; }
.op, .opr, .decimal, .comma  { font-size: 3em; }
.pref, .sci { font-size: 1.5em; }
.num, .ce { font-size: 2.5em; }
.ans { font-size: 1.75em;}
.comma, .decimal { padding-bottom: 60%; } 
}

@media (orientation: portrait ) {
.ip { font-size: 16vw; }
.op, .opr, .decimal, .comma  { font-size: 12vw; }
.pref, .sci { font-size: 6vw; }
.num, .ce { font-size: 10vw; }
.ans { font-size: 7vw;}
.comma, .decimal { padding-bottom: 60%; } 
}
/*size and structure*/
html, body, input, button { 
	margin: 0; border-width: 0; padding: 0; border-style: none; 
	width: 100%; height: 100%; overflow: hidden;
}

body {
	display: grid; grid-gap: 0%;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 16% 12% 0% 0% 0% 8% 8% 8% 12% 12% 12% 12%;
}

input {
	grid-column: span 5;
	grid-row: span 1;
}

button {
	grid-column: span 1;
	grid-row: span 1;
}
.ce { grid-row: span 2; }
/*shape*/

:focus { outline: none !important; }