
:root {
	--app-corner-radius-0: 0.5cm;
	--app-border-width-0: 0.1cm;
	--app-border-style-0: solid;

	--font-family: system-ui;
	--font-size-0: ;
	--font-size-1-0: 4rem;
	--font-size-1-1: 3rem;
	--font-size-1-2: 2rem;
	--font-size-1-3: 3.5rem;
	--font-size-1-4: 5rem;
	--font-pad-1-4: 2.5rem;
	--font-size-2-0: 2.5rem;
	--font-size-2-1: 2.0rem;
	--font-size-3-0-0: 7.5rem;
	--font-size-3-0-1: 6rem;
	--font-size-3-1: 5rem;
	--font-size-3-2: 2rem;
	--border-radius-2: 1rem;

}

@media (prefers-color-scheme: no-preference), (prefers-color-scheme:light ) {
	:root{
	--color-one: #1565c0;
	--color-two: #ffffff;
    --color-three: #000000;
	--color-four: #cccccc;
	--color-five: #1e88e5;


	--bg-color-0: var(--color-one);
	--bg-color-1: var(--color-two);
	--bg-color-2: var(--color-one);
	--bg-color-3: var(--color-two);
	--fg-color-0:;
	--fg-color-1: var(--color-three);
	--fg-color-1-0: var(--color-one);
	--fg-color-2: var(--color-two);
	--fg-color-3: var(--color-three);
	--fg-color-3-1: var(--color-four);
	--active-color-0:;
	--active-color-1: var(--color-four);
	--active-color-2: var(--color-five);
	--active-color-3:var(--color-four);
	--hover-color-0:;
	--hover-color-1: var(--color-four);
	--hover-color-2: var(--color-five);
	--hover-color-3: var(--color-four);

	--border-color-1: var(--color-two);
	--border-color-2: var(--color-four);
	}
}

@media (prefers-color-scheme: dark) {
	:root{
	--color-one: #000a12;
	--color-two: #102027;
    --color-three: #eeeeee;
	--color-four: #1c313a;
	--color-five: #1c313a;
	--color-six: #888888; 


	--bg-color-0: var(--color-one);
	--bg-color-1: var(--color-two);
	--bg-color-2: var(--color-one);
	--bg-color-3: var(--color-two);
	--fg-color-0:;
	--fg-color-1: var(--color-three);
	--fg-color-1-0: var(--color-three);
	--fg-color-2: var(--color-three);
	--fg-color-3: var(--color-three);
	--fg-color-3-1: var(--color-six);
	--active-color-0:;
	--active-color-1: var(--color-four);
	--active-color-2: var(--color-five);
	--active-color-3:var(--color-four);
	--hover-color-0:;
	--hover-color-1: var(--color-four);
	--hover-color-2: var(--color-five);
	--hover-color-3: var(--color-four);

	--border-color-1: var(--color-two);
	--border-color-2: var(--color-four);
	}
}

@media (max-height: 24cm) and (max-width: 12cm) {
	:root{
		--app-height: 100%;
		--app-width: 100%;
		font-size: 2vw;
		--app-corner-radius: 0;
        --app-border-style: none;
        --app-border-width: 0;
	}
	body {
		min-height: 160vw;
	}
}
@media (min-height: 24cm) and (max-width: 12cm) {
	:root{
		--app-height: 200vw;
		--app-width: 90%;
		font-size: 2vw;
		--app-corner-radius: var(--app-corner-radius-0);
		--app-border: var(--app-border-0);
		--app-border-style: var(--app-border-style-0);
		--app-border-width: var(--app-border-width-0);
	}
	body {
		position: absolute; 
		top: 50%; 
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}
@media (max-height: 24cm) and (min-width: 12cm) {
	:root{
		--app-height: 95%;
		--app-width: 50vh;
		font-size: 1vh;
		--app-corner-radius: var(--app-corner-radius-0);
		--app-border: var(--app-border-0);
		--app-border-style: var(--app-border-style-0);
		--app-border-width: var(--app-border-width-0);
	}
	body {
		position: absolute; 
		top: 50%; 
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}
@media (min-height: 24cm) and (min-width: 12cm) {
	:root{
		--app-height: 24cm;
		--app-width: 12cm;
		font-size: 0.25cm;
		--app-corner-radius: var(--app-corner-radius-0);
		--app-border: var(--app-border-0);
		--app-border-style: var(--app-border-style-0);
		--app-border-width: var(--app-border-width-0);
	}
	body {
		position: absolute; 
		top: 50%; 
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}
/*MISCELLANEOUS*/
html, div, input, p, button { 
	margin: 0;
	border-width: 0;
	padding: 0;
	border-style: none;
	border-radius: 0;
	overflow: hidden;
} /*common parameters*/
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-style: var(--app-border-style);
	border-width: var(--app-border-width);
	border-radius: var(--app-corner-radius);
	border-color: var(--border-color-1);
}
html, body, div, input, p, button {
	touch-action: pinch-zoom;
	touch-action: manipulation; 
} /*touch actions*/
:focus { 
	outline: none !important; 
} /*focus outline*/

/*LAYOUT*/
html { 
	width: 100%;
	height: 100%;
}

/*LEVEL ZERO*/
body {
	width: var(--app-width); 
	height: var(--app-height);

	display: grid; 
	grid-gap: 0%;
	grid-template-columns: 100%; 
	grid-template-rows: 30% 25% 0% 45%;
}

/*LEVEL ONE*/
div {
	grid-row: span 1; 
	grid-column: span 1; 
	width: 100%; 
	height: 100%;
	display: grid;
	grid-gap: 0%;
}
.inputs {
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 50% 30% 20%;
}
.scis {
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 33.33% 33.33% 33.33%;
}
.convs {
	grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
	grid-template-rows: 33.33% 33.33% 33.33%;
}
.nums {
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 25% 25% 25% 25%;
}

/*LEVEL TWO*/
button {
    grid-row: span 1;
    grid-column: span 1;
	width: 100%; 
	height: 100%;
}
select, #convert {
    margin: auto;
    position: relative;
    border-style: solid;
    border-width: 1px; 
    border-radius: var(--border-radius-2);
}
#ip, #op {
	grid-row: span 1; 
	grid-column: span 5; 
	width: 100%; 
	height: 100%;
}
#convtypes {
	grid-row: span 1; 
	grid-column: span 8; 
	width: 90%; 
	height: 70%;
}
#convfroms, #convtos, #convert {
	grid-row: span 1; 
	grid-column: span 4; 
	width: 85%; 
	height: 70%;
}
.pref {
	margin: auto;
	position: relative;
	grid-row: span 1;
    grid-column: span 5;
    border: 0.2rem dashed;
    border-radius: var(--border-radius-2);
    width: 70%;
    height: 70%;
}
.visuallyhidden {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  margin: -1px;
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

/*FONT*/
input, p, button, select, option {
	font-family: system-ui;
	text-align: center;
	touch-action: pinch-zoom;
	touch-action: manipulation; 
}
#ip {
	font-size: var(--font-size-3-0-0);
}
#op {
	font-size: var(--font-size-3-1);
}
button {
	user-select: none;
}
.panel {
	font-size: var(--font-size-3-2);
	font-weight: 500;
}
#more {
	font-weight: 900;
}
.sci {
	font-size: var(--font-size-2-0);
}
select, #convert {
	font-size: var(--font-size-2-0);
	user-select: none;
}
.pref {
	font-size: var(--font-size-2-1);
	font-weight: 500;
}
.num, .opr {
	font-size: var(--font-size-1-0);
}
#bspc {
	font-size: var(--font-size-1-1);
}
#ANS {
	font-size: var(--font-size-1-2);
	font-weight: 500;
}
#CE {
	font-size: var(--font-size-1-3);
}
#comma, #decimal {
	font-size: var(--font-size-1-4);
	padding-bottom: var(--font-pad-1-4);
}

/*COLOR*/
html {
	background-color: var(--bg-color-0);
	color: var(--fg-color-0);
}
.inputs, input, p, .panel {
	background-color: var(--bg-color-3);
	color: var(--fg-color-3);
}
.panel:active {
	background-color: var(--active-color-3);
}
.scis, .sci, .convs, select, option, #convert, .pref { 
	background-color: var(--bg-color-2);
	color: var(--fg-color-2);
}
select, #convert, .pref {
	border-color: var(--border-color-2);
}
.sci:active, select:active, #convert:active, .pref:active {
	background-color: var(--active-color-2);
}
.nums, .num, .opr, .io { 
	background-color: var(--bg-color-1);
	color: var(--fg-color-1);
}
.opr { 
	color: var(--fg-color-1-0);
}
.num:active, .opr:active, .io:active {
	background-color: var(--active-color-1);
}
@media (hover: hover) {
	.panel:hover {
		background-color: var(--hover-color-3);
	}
	.sci:hover, select:hover, #convert:hover, .pref:hover {
		background-color: var(--hover-color-2);
	}
	.num:hover, .opr:hover, .io:hover {
		background-color: var(--hover-color-1);
	}
}