@media (prefers-color-scheme: no-preference), (prefers-color-scheme: light) {
	html {
		background-color: #c1d5e0;
	}
	#install {
		background-color: #000a12;
		color: #e2f1f8;
	}
}
@media (prefers-color-scheme: dark) {
	html {
		background-color: #37474f;
	}
	#install {
		background-color: #e2f1f8;
		color: #000a12;
	}
}
html, body, iframe {
	margin: 0;
	border-width: 0;
	padding: 0;
	border-style: none;
	border-radius: 0;
	overflow: hidden;
	scrollbar-width: none !important;
	width: 100%;
	height: 100%;	
}
#install {
	border-width: 0;
	padding: 0.5cm;
	border-style: none;
	border-radius: 0.25cm;
	position: fixed;
	margin-left: calc(100vw - 6.4cm);
	margin-top: 0.5cm;
	text-align: center;
	font-size: 0.5cm;
	font-family: system-ui;
}
@media (min-width: 24cm) {
	#install {
		display: block;
	}
}
@media(max-width: 24cm) {
	#install {
		display: none;
	}
}
@media (max-height: 24cm) and (max-width: 12cm) {
	iframe {
		height: 100%;
		width: 100%;
	}
}
@media (min-height: 24cm) and (max-width: 12cm) {
	iframe{
		height: 200vw;
		width: 90%;
		border-radius: 0.5cm;
		position: absolute; 
		top: 50%; 
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}
@media (max-height: 24cm) and (min-width: 12cm) {
	iframe {
		height: 95%;
		width: 50vh;
		border-radius: 0.5cm;
		position: absolute; 
		top: 50%; 
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}
@media (min-height: 24cm) and (min-width: 12cm) {
	iframe {
		height: 24cm;
		width: 12cm;
		border-radius: 0.5cm;
		position: absolute; 
		top: 50%; 
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}
::-webkit-scrollbar {
	display: none;
}
:focus { 
	outline: none !important; 
}