
@media (prefers-color-scheme: no-preference), (prefers-color-scheme: light) {
	html, body, h1, p {
		background-color: #c1d5e0;
		color: #102027;
	}
}
@media (prefers-color-scheme: dark) {
	html, body, h1, p, a, a:link, a:visited, a:focus, a:hover, a:active {
		background-color: #102027;
		color: #c1d5e0;
	}
}

:root { 
	touch-action: pinch-zoom;
	touch-action: manipulation; 
} /*common parameters*/


html { 
	width: 100%;
}
/*LEVEL ZERO*/
body {
	width: 15cm;
	max-width: 90%;
	margin: auto;
}
/*FONT*/
:root {
	font-family: system-ui;
}
h1, h3, h5 {
	text-align: center;
}
li {
	padding: 1%;
}