/*color*/

body, .result { background-color: #455a64; }
.entry, button { background-color: #eeeeee;}
input, a, a:link, a:visited, a:hover, a:active, button { color: #1c313a; }
.result { color: #eeeeee; }
/*update the manifest and metatags*/


/*fonts*/

input, button, a , a:link, a:visited, a:hover, a:active {

	font-family: 'Roboto Slab', serif; font-weight: bolder;

}
.entry { font-size: 2.5em; }
.result { font-size: 2em; }
.smallestbutton { font-size: 2em; }
.smallbutton { font-size: 1.4em; }
.mediumbutton, .allclear { font-size: 1.2em; }
.largebutton { font-size: 1em;  }
a { font-size: 0.5em; }


/*size and structure*/

html { width: 100%; height: 100%; align-content: center; }


body {

	border-width: 0%;
	padding: 0%;
	border-style: none;
	overflow: hidden;

	display: grid;
	grid-template-columns: 23% 23% 23% 23%;
	grid-template-rows: 18% 8% 8% 8% 8% 8% 8% 8% 8% 8% 1%;
	justify-content: space-around;
    width: 96%; 
	height: 96%; 
	grid-gap: 1%;

}


input, button {

	border-width: 0%;
	padding: 0%;
	border-style: none;
	text-align: center;
	align-self: center;
	grid-row: span 1;
	width: 100%;
	height: 100%;

}

.entry { grid-column: span 4; }
.result { grid-column: span 3; }
button { grid-column: span 1; }
.allclear { grid-row: span 2; }


a, a:link, a:visited, a:hover, a:active {

	grid-row: 11/ span 1; 
	grid-column: 4/ span 1; 
	text-align: right;
	text-decoration: none;
	margin: 0%;
	border-width: 0%;
	padding: 0%;
	border-style: none;
	width: 100%; 
	height: 100%; 

}

/*shape*/
button, input { border-radius: 0.5em; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
:focus { outline: none !important; }