html { width: 100%; height: 100%; }

body, input { background-color: #a4a4a4; }

input::placeholder { color: #757575; }

button { color: #494949; background-color: #e0e0e0; }

body {

	margin-top: 2%;
	margin-left: 2%;
	width: 96%;
	height: 96%;
	overflow: hidden;
}

input, button {
	border-style: none;
	margin-top: 2%;
	margin-left: 2%;
	height: 13%;
	font-family: 'Roboto Slab', serif;
	font-size: 2em;
	text-align: center;
	width: 45%;
}

.result { width: 95%; }

button {

	border-radius: 25%;
	width: 22%;
	font-size: 1em;
	font-weight: bolder;

}

.operation1 { font-size: 2.5em; }

.operation2 { font-size: 1.5em; }

.operation3 { font-size: 1.2em; }

:focus { outline: none !important; }