
html{ 
	margin: 0; border-width: 0; padding: 0; border-style: none;
	border-radius: 0; width: 100%; height: 100%; overflow: hidden;
}

@media (min-height: 30cm) {
	body {
		height: 30cm;
	}
}
@media (max-height: 30cm ) {
	body{
		height: 100%
	}
}

@media (min-width: 15cm) {
	body {
		width: 15cm;
	}
}
@media (max-width: 15cm) {
	body {
		width: 100%;
	}    
}

body { 
    margin: 0; border-width: 0; padding: 0; border-style: none;
	border-radius: 0; overflow: hidden;
	position: absolute; top: 50%; left: 50%;
	-ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
}
input, button, div { 
	margin: 0; border-width: 0; padding: 0; border-style: none;
	border-radius: 0; width: 100%; height: 100%; overflow: hidden; align-self: center;
}
body {
	display: grid; grid-gap: 0%;
	grid-template-columns: 100%;
	grid-template-rows: 28% 0% 24% 48%;
}
.inputs {
	display: grid; grid-gap: 0%;
	grid-template-columns: 100%;
	grid-template-rows: 50% 50%;
}
.prefs {
	display: grid; grid-gap: 0%;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 25% 25% 25% 25%;
}
.scis {
	display: grid; grid-gap: 0%;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 33.33% 33.33% 33.33%;
}
.nums {
	display: grid; grid-gap: 0%;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 25% 25% 25% 25%;
}

input {
	grid-row: span 1;
}
button {
	grid-column: span 1;
	grid-row: span 1;
}
#CE {
	grid-row: span 2;
}
