
/*  GLOBAL */

section > img,
section > video {
    padding-bottom: 1.5em;
}

/*  ABOUT ME    */

section#about-me table.docutils {
    width: 100%;
}
section#about-me > div > table > tbody > tr > td {
    text-align: center;
}
section#about-me > section > div > table > tbody > tr > td:nth-child(2) {
    text-align: end;
}
